mixin suppliers(suppliers)
	+namespace("suppliers")
		+el()
			+el("alert", "p") #[span.red Внимание!] Заказы на завтра принимаются #[b до 16:00]
			+el("list", "ul")
				+el("list-head", "li").clearfix
					+el("list-title") Название ресторана
					+el("list-title") Средняя цена обеда
				each val in suppliers
					+el("item", "li")
						+el("logo")
							img(src="#{ images('example/' + val.image + '.png') }", alt="#{val.image}")
						+el("info")
							+el("name", "h3")!= val.name
							+el("cuisine", "p") Кухня: #{val.cuisine}
							+el("pay")
								+el("pay-title") Способы оплаты:
								+el("pay-cash", "span")(class=val.pay[0] ? 'on' : '') Нал.
								+el("pay-card", "span")(class=val.pay[1] ? 'on' : '') Безнал.
						+el("price") #{val.price} р.
						+el("menu")
							+el("menu-btn", "button")(type="button").js-suppliers-menu-btn
								span Меню
					+suppliers-menu()